* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* navbar design */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav span {
    color: #FD6E0A;
}

.navbar {
    padding-top: 50px;
    padding-right: 160px;
    padding-bottom: 47px;
    padding-left: 226px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav h3 {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

li a {
    text-decoration: none;
    color: black;
}

.primary-button {
    padding: 18px 35px;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 30px;
}

.contact-button {
    background-color: #FFF8F3;
    color: #FD6E0A;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 18px 35px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
}

/* header design */
.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;

}

.greeting {
    color: #474747;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0px;
}

.title {
    color: #181818;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 0px;
}

.para {
    color: #757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 585px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 38px 0px 230px;
}

.profile-pic {
    width: 584px;
    height: 676px;

}

/* main */
main section{
    margin-top: 150px;
}
.about {
    margin: 130px auto;
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    width: 1140px;
    height: 550px;
    text-align: center;
}

.about-title {
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 131px 485px 0px 485px;
}

.about-description {
    color: #757575;
    text-align: center;
    padding: 30px 157px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 827px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about-info {
    text-align: center;
    padding: 30px 0px 131px 0px;
}

.info-title {
    color: #757575;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.info-description {
    color: #474747;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.section-header {

    justify-content: center;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-description {
    padding: 30px 345px 50px 345px;
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 150px;
}

.section {}

.skills-container {
    display: flex;
    gap: 20px;
    margin-left: 330px;
    margin-right: 330px;


}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.skill-title {
    padding-bottom: 20px;
    color: #181818;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.skill-description {
    color: var #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    text-align: left;
}

div .skill img {
    padding-bottom: 30px;
}